/* main_640.css */
/* device 환경 min : 640px, max : 1023px */

@media screen and (min-width: 640px) and (max-width: 1023px) {

  #gnb li a{font-size: 1rem;}
  /* ======================================= */
  
  #viewBox{height:93.75vw;}

  .view_text{width:400px; right:15%;}
  .mouse{display:none;}

  /* ======================================= */

  #infoBox{height:1200px; padding:0; box-sizing: border-box;}
  #infoBox h2{font-size:5rem;}
  .info_title_box{width:60%;}

  .info_area{padding:0;}

  .picture{
    float:none; 
    margin: auto; 
    width:400px; height:400px; 
  }
  .info_txt{float:none; margin:auto; }

  /* ======================================= */

  #skillBox{height:800px;}
  .paper{display:none;}

  .skill_640{width:600px; height:600px; margin:auto; padding-top: 100px;}
  .skill_640 ul{width:100%; height:100%; }
  .skill_640 li{
    width:600px; height:200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .skill_640 li:nth-child(1){background-image: url(../../img/skill_design.png);}
  .skill_640 li:nth-child(2){background-image: url(../../img/skill_web.png); background-position: 80% 50%;}
  .skill_640 li:nth-child(3){
    width:200px;
    background-image: url(../../img/skill_office.png); background-position: 100% 50%; background-size: 85%;}


  /* ======================================= */

  #listBox{height:800px;}

  .btn{width:80%;}
  .slideCard{width:100%;}

  .slideCard li{width:80%; height: 500px;}
  .slideCard li p{font-size:2rem;}


  /* ======================================= */

  #visionBox{height:1400px; padding:0; padding-top:300px; box-sizing: border-box;}
  #visionBox h2{top:100px; font-size:5rem;}
  .vision_title_box{width:60%;}


  .accordian{float:none; margin:auto;}
  .sns{float:none; margin-right: 0; margin:auto;  margin-top: 20px; }

  /* ======================================= */

}