/* main_1024.css */

/* device 환경 min : 1024px, max : 1439px */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

  #headBox{height:6.835937vw;}

  #gnb li{height:6.835937vw;}
  #gnb li a{line-height: 6.835937vw; font-size: 1rem;}

  /* ======================================= */
  
  #viewBox{height:58.59375vw;}
  .mouse{display:none;}

  /* ======================================= */

  #infoBox{height:1300px;}
  .picture{float:none; margin-left: 0; margin: auto;}
  .info_txt{float:none; margin:auto; margin-left: 9.765625vw;}

  /* ======================================= */

  #skillBox{height:17.578125vw;}

  /* ======================================= */

  #listBox{height:58.59375vw;}

  .slideCard li{height: 29.296875vw;}
  .slideCard li p{font-size:2rem;}


  /* ======================================= */

  #visionBox{height:1500px;}
  #visionBox h2{top:100px;}

  .accordian{float:none; margin:auto;}
  .sns{float:none; margin-right: 0; margin:auto;  margin-top: 50px; }

  /* ======================================= */

}