/* main.css */


#wrap{
  width:100%; height: auto; 
  overflow: hidden;
}

@font-face { 
  font-family: 'NanumSquare'; 
  src: url('../../fonts/fonts/NanumBarunGothic.ttf') format('truetype'); } 


html {scroll-behavior: smooth;}
body {font-family: 'NanumSquare';}
a {display:block; width: 100%; height:100%;}

/* ======================================= */
#headBox{
  position:fixed; top:0; left:0; z-index:5000;
  width:100%; height:100px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0.1rem 0.3rem 0.4rem rgba(5,5,5,0.5);
}

#gnb{
  width:100%; height:100%;
}

#gnb ul{
  width:100%; height:100%;
}

#gnb li{
  float:left; height:100px; margin:auto; margin-left: 50px;
}

#gnb li a{
  line-height: 100px;
  font-size: 1.2rem;
}

#gnb li.action{
  font-weight: bold;
  color: #021B79;
}

#gnb li:hover,
#gnb li:focus{
  color: #021B79;
}

/* ======================================= */
#viewBox{
  width:100%; height:1000px;
  background-image: url(../../img/viewBox_bg.JPG);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
}

.view_text{
  position: relative;
  float:right; 
  top:50%; right:5%;
  width:500px;
  font-size:1.5rem;
}

.view_text .item {
  visibility: hidden;
  display: none;
}

.view_text > div {
  min-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  color: orange;
}

.view_text > div:after {
  content: " ";
  width: 10px;
  height: 4px;
  display: block;
  background: black;
  color: orange;
  margin-bottom: 4px;
  margin-left: 2px;
  animation-duration: 350ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.typing-txt{
  display:none;
}

.mouse{
  position: absolute; z-index:100;
  bottom:0; left:50%; transform: translateX(-50%);
  width: 100px; height: 150px;
  background-image: url(../../img/mouse.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  animation:mvScroll 2s infinite ease alternate;
}

@keyframes mvScroll {
  0%{background-position-y: 0;}
  100%{background-position-y: -3rem;}
}

/* ======================================= */
#infoBox{
  position: relative;
  width:100%; height:950px;
  padding:20px; box-sizing: border-box;
  background-color: #eff2f7;
}

#infoBox h2{
  position: absolute; z-index:100;
  top:150px;
  width:100%; height:10px;
  font-size:7rem; 
  color:#eee;
  text-shadow: 0.2rem 0.2rem 0.5rem #777;
}

.info_title_box{
  position: relative; z-index:50;
  top:15%; left:2%;
  width:40%; height:100px;
  background-image:linear-gradient(90deg, #3494E6, #9585c5);
}

.info_area{
  margin-top: 200px;
  padding:80px 100px; box-sizing: border-box;
  width:100%; height:800px;
}

.picture{
  float:left;
  width:500px; height:500px;
  margin-left: 150px;
  border-radius: 100%;
  box-shadow: 1rem 1rem 1rem #ccc;
  background-image: url(../../img/myPicture.jpg);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: contain;
}

.info_txt{
  float:right; 
  width:620px; height:500px;
}

.info_txt > h3{
  margin-top: 50px;
}

.info_txt > p{
  margin-top: 10px;
}
/* ======================================= */
#skillBox{
  width:100%; height:300px;
  background-color: #425067;
}

.paper{
  width:100%; height:100%;
}
/* ======================================= */
#listBox{
  width:100%; height:1000px;
  overflow: hidden;
}

.slide_banner{
  position: relative; z-index:100;
  width: 100%; height:100%;
}

.slide_banner:after{
  content:" "; display:block;
  position: absolute; top:0; left:0;
  width:100%; height:100%;
  z-index:300;
  background-color: rgba(0,0,0,0.2);
}

/* ------------------------------ */

.btn{
  position: absolute; top:50%; left:50%; z-index:1000;
  transform:translateX(-50%);
  width:60%; height:0;
}

.next{float:right; font-size:4rem; transform:translateY(-50%); color:#f5f6f7;}
.prev{float:left; font-size:4rem; transform:translateY(-50%); color:#f5f6f7;}

/* ------------------------------ */

.slide_banner > .slideCard{
  position: absolute; top:50%; left:50%; z-index:500;
  transform:translateX(-50%);
  width:55%; height:10px;
  perspective: 50rem; /* 기준치를 주고 자식들을 rotate */
}

.slideCard li{
  position:absolute; z-index:100;
  top:0; bottom:0; left:0; right:0; margin:auto;
  width:40%; height:600px;
  box-shadow: 0.5rem 0.5rem 0.5rem #333;
  padding-top: 250px; box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.slideCard li:first-child{
  z-index:-1;
  transform:translateX(-100%) rotateY(45deg) scale(0.8);
}

.slideCard li:last-child{
  z-index:-1;
  transform:translateX(100%) rotateY(-45deg) scale(0.8);
}

.banner_01{background-image: url(../../img/mini_cooper.jpg);}
.banner_02{background-image: url(../../img/lotte_aquarium.jpg);}
.banner_03{background-image: url(../../img/nasa.jpg);}

.slideCard li a{
  position: absolute; top:0; left:0;
}

.slideCard li p{
  opacity: 0;
  position: absolute; top:50%; left:-2rem;
  width:200%; height:auto;
  font-size:3rem; font-weight: bold;
  color:#fff;
  transition:all 500ms ease;
}

.slideCard li.active p {opacity: 1;}

.slideCard li .con_01{
  text-transform: uppercase;

}

.slideCard li .con_02{
  position: relative; left:50px;
  font-size:1.5rem;
  margin-bottom: 2rem;
}

.slideCard li .con_02:before{
  content:" "; position: absolute;
  top:50%; left:-50px;
  width:40px; height:0.5rem; background-color: #fff;
}
.slideCard li .con_02:after{
  content:" "; position: absolute;
  left:-50px; bottom:-0.5rem; width:80px; height:0.2rem;
  background-color: #eee;
}

.slideCard li .con_03{
  font-size:1.2rem;
}

.slideCard li span{
  display:block; width:100%; height:auto;
  text-shadow:0.1rem 0.2rem 0.5rem #333;
  transform:translateY(1.5rem);
  transition:all 600ms ease;
}

.slideCard li.action a{
  display:none;
}

.slideCard li.active span{
  transform:translateY(0);
}

  .slideCard li.active .con_01{transition-delay:0;}
  .slideCard li.active .con_02{transition-delay:100ms;}
  .slideCard li.active .con_03{transition-delay:200ms;}

.slideCard li.up span{
  transform:translateY(-3rem);
  transition: all 500ms ease-out;
}

/* ------------------------------ */

.back_img{
  position: absolute; top:0; left:0; z-index:-1;
  width:100%; height:100%;
  background-color: #aca;
}

.back_img ul{
  width:300%; height:100%; margin-left: -100%;
  background-color: #acf;
}

.back_img li{
  float:left;
  width:calc(100% / 3); height:100%;
  transform : scale (1.1);
  filter:blur(3px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.back_01{background-image: url(../../img/mini_cooper.jpg);}
.back_02{background-image: url(../../img/lotte_aquarium.jpg);}
.back_03{background-image: url(../../img/nasa.jpg);}

/* ======================================= */
#visionBox{
  position: relative;
  width:100%; height:1000px;
  padding:300px 200px; box-sizing: border-box;
}

#visionBox h2{
  position: absolute; z-index:100;
  top:50px; left:50px; 
  width:100%; height:10px;
  font-size:7rem; 
  color:#fff;
  text-shadow: 0.2rem 0.2rem 0.5rem #777;
}

.vision_title_box{
  position: absolute; z-index:50;
  top:10%; left:5%;
  width:40%; height:100px;
  background-image:linear-gradient(90deg, #9585c5, #dc77ab);
}

.accordian{
  float:left;
  width:600px; height:600px;
  border:2px solid #ccc;
  padding:50px; box-sizing: border-box;
}

.accordian > dl{
  width:100%; height:auto;
  background-color: #fff;
  border:2px solid #fff;
  box-sizing: border-box;
}

.accordian dt {
  width:100%; height:50px;
  border-bottom:1px solid #75f; 
  
}

.accordian button{
  width:100%; height:100%;
  text-align: left;
  font-size:1rem;
}

.accordian dd{
  display:none;
  width:100%; height:50px;
  padding:1rem; box-sizing: border-box;
}

.sns{
  float:right;
  width:600px; height:400px;
  margin-top: 200px; margin-right: 100px;
  border:2px solid #ccc;
  padding:50px; box-sizing: border-box;
}

.sns h3{
  font-size:1.4rem;
}

.sns ul{
  margin-top: 50px;
  width:300px; height:150px;
}

.sns li{
  float:left; margin-right: 20px;
  width:80px; height:80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.sns li:first-child{background-image: url(../../img/facebook_logo.png);}
.sns li:last-child{background-image: url(../../img/IG.png); background-size: 130%;}

/* ======================================= */

.topMvBtn{
  position: fixed; right:2%; bottom:2%;
  z-index: 1000;
  width: 50px; height: 50px;
  background-color: #9585c5;
  background-image: url(../../img/up-arrow.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.topMvBtn > a{
  display:block; width:100%; height:100%;
}

/* ======================================= */

#footBox{
  width:100%; height:200px; 
  padding-top: 50px; box-sizing: border-box;
  background-color: #333;
}

#footBox p{
  width:100%;
  text-align: center;
  font-size:1rem;
  color:#fff;
  margin-top: 20px;
}